################################
#     Application Settings     #
################################

[settings]
throttle-output = 5
throttle-output-for = 10
screenchange-reload = false
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
format-foreground = 
format-background = 
format-underline =
format-overline =
format-spacing =
format-padding =
format-margin =
format-offset =
pseudo-transparency = false

################################
#             Global           #
################################

[global/wm]
margin-bottom = 2
margin-top = 0

#################################
#             Colors            #
#################################

[colors]
background = #2e3440
foreground = #81A1C1


#################################
#     Base Bar Configuration    #
#################################

[bar/barbase]
monitor = ${env:monitor}
monitor-fallback =
monitor-strict = false
monitor-exact = true
override-redirect = false
bottom = false
fixed-center = true
width = 100%
height = 26
offset-x = 0
offset-y = 0
background = ${colors.background}
foreground = ${colors.foreground}
background-0 = 
radius = 0.0
line-size = 0
line-color = #f00
border-size =
border-color =
padding = 0
module-margin = 0
font-0 = "NotoMono Nerd Font Mono:style=Book:size=12"
font-1 = "NotoSansMono Nerd Font:style=Regular:size=14"
font-2 = "SauceCodePro Nerd Font Mono:style=Medium,Regular:size=14"
modules-left =
modules-center =
modules-right =
separator =
spacing = 0 ;depreciated
dim-value = 1.0
wm-name =
locale = en_US.UTF-8
tray-position = 
tray-detached = false
tray-maxsize = 16
tray-transparent = false ; Depreciated
tray-background = ${root.background}
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 0
tray-scale = 1.0
dpi-x = 96
dpi-y = 96
enable-ipc = true
click-left = 
click-middle = 
click-right =
scroll-up =
scroll-down =
double-click-left =
double-click-middle =
double-click-right =
cursor-click = 
cursor-scroll = 

#################################
#    Main Bar 1 Configuration   #
#################################

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0 layout0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/layout0]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${color.amber}
exec = leftwm-state -w 0 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"
padding-right: 5

#################################
#    Main Bar 2 Configuration   #
#################################

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1 layout1

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/layout1]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${color.amber}
exec = leftwm-state -w 1 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"

#################################
#    Main Bar 2 Configuration   #
#################################

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2 layout2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/layout2]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${color.amber}
exec = leftwm-state -w 2 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"


include-file = $SCRIPTPATH/polybar/modules.ini