################################
#     Application Settings     #
################################

[settings]
throttle-output = 5
throttle-output-for = 10
screenchange-reload = false
compositing-background = XOR
;compositing-foreground = over
;compositing-overline = over
;compositing-underline = over
;compositing-border = over
;format-foreground = 
;format-background = 
;format-underline =
;format-overline =
;format-spacing =
;format-padding =
;format-margin =
;format-offset =
;pseudo-transparency = false

################################
#             Global           #
################################

[global/wm]
margin-bottom = 2
margin-top = 0

#################################
#             Colors            #
#################################

[colors]
background = #992e3440
border-color = #4081A1C1
foreground = #FF81A1C1

polardarkest = #2e3440
polardark = #3b4252
polar = #434c5e
polarlight = #4c566a
snowdark = #d8dee9
snow =  #e5e9f0
snowlight = #eceff4
frostgreen = #8fbcbb
frostcyan = #88c0d0
frostblue = #81a1c1
frostlight = #5e81ac
aurorared = #bf616a
auroraorange = #d08770
aurorayellow = #ebcb8b
auroragreen = #a3be8c
aurorapurple = #b48ead

white = #FFFFFFFF

#################################
#     Base Bar Configuration    #
#################################

[bar/barbase]
monitor = ${env:monitor}
;monitor-fallback =
monitor-strict = false
monitor-exact = true
override-redirect = false
bottom = false
fixed-center = true
width = 99%
height = 32
offset-x = 0.5%
offset-y = 7
background = ${colors.background}
foreground = ${colors.foreground}
;background-0 = 
radius = 10.0
line-size = 0
line-color = #f00
;border-bottom-size = 0
;border-bottom-color = ${colors.border-color}
padding = 2
module-margin = 0
font-0 = "NotoMono Nerd Font Mono:style=Book:size=14"
font-1 = "NotoSansMono Nerd Font:style=Regular:size=14"
font-2 = "SauceCodePro Nerd Font Mono:style=Medium,Regular:size=14"
;modules-left =
;modules-center =
modules-right = arch-updates aur-updates date battery pulseaudio powermenu
module-margin-left = 1
module-margin-right = 1
;separator =
spacing = 0 ;depreciated
dim-value = 1.0
;wm-name =
locale = en_US.UTF-8
tray-position = 
tray-detached = false
tray-maxsize = 16
tray-transparent = false ; Depreciated
tray-background = ${root.background}
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 0
tray-scale = 1.0
dpi-x = 96
dpi-y = 96
enable-ipc = true
;click-left = 
;click-middle = 
;click-right =
;scroll-up =
;scroll-down =
;double-click-left =
;double-click-middle =
;double-click-right =
;cursor-click = 
;cursor-scroll = 

#################################
#    Main Bar 1 Configuration   #
#################################

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0 layout0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/layout0]
type = custom/script
format-prefix = "  "
format-prefix-foreground = ${color.amber}
exec = leftwm-state -w 0 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"

#################################
#    Main Bar 2 Configuration   #
#################################

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1 layout1
tray-position = right

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/layout1]
type = custom/script
format-prefix = "  "
format-prefix-foreground = ${color.amber}
exec = leftwm-state -w 1 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"

#################################
#    Main Bar 2 Configuration   #
#################################

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2 layout2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/layout2]
type = custom/script
format-prefix = "  "
format-prefix-foreground = ${color.amber}
exec = leftwm-state -w 2 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"


#################
#    Modules    #
#################

[module/date]
;https://github.com/jaagr/polybar/wiki/Module:-date
type = internal/date
; Seconds to sleep between updates
interval = 1
; See "http://en.cppreference.com/w/cpp/io/manip/put_time" for details on how to format the date string
; NOTE: if you want to use syntax tags here you need to use %%{...}
date = "%d %h %Y"
date-alt = "%d %h %Y"
time =  %H:%M:%S
time-alt = %H:%M:%S
format-prefix = " "
;format-prefix = 
format-prefix-foreground = ${colors.aurorapurple}
;format-underline = ${colors.foreground-alt}
format-foreground = ${colors.aurorapurple}
format-background = ${colors.background}
label = %date% %time%

[module/battery]
;https://github.com/jaagr/polybar/wiki/Module:-battery
type = internal/battery
battery = BAT0
adapter = AC0
full-at = 100

format-charging = "<animation-charging>  <label-charging>"
label-charging = %percentage%%
format-charging-foreground = ${colors.foreground}
format-charging-background = ${colors.background}
;format-charging-underline = #a3c725

format-discharging = "<ramp-capacity>  <label-discharging>"
label-discharging = %percentage%%
;format-discharging-underline = #c7ae25
format-discharging-foreground = ${colors.foreground}
format-discharging-background = ${colors.background}

format-full-prefix = "  "
format-full-prefix-foreground = #A3BE8C
;format-full-underline = #a3c725
format-full-foreground = ${colors.foreground}
format-full-background = ${colors.background}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = #c7ae25

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = #A3BE8C
animation-charging-framerate = 750

[module/pulseaudio]
type = internal/pulseaudio

format-volume = " <label-volume>"
format-volume-background = ${colors.background}
format-volume-foreground = ${colors.foreground}
label-volume = %percentage%%
label-volume-foreground = ${colors.foreground}

label-muted =  muted
label-muted-foreground = #888

click-right = pavucontrol

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/powermenu]
type = custom/text
content = "襤"
content-foreground = ${colors.aurorared}
click-left = ~/.config/leftwm/themes/current/polybar/scripts/checkmenu.sh
click-right = ~/.config/leftwm/themes/current/polybar/scripts/checkmenu.sh

[module/arch-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-arch-updates.sh
interval = 1000
label = Arch: %output%
format-foreground = ${colors.frostblue}
format-background = ${colors.background}
format-prefix = "  "
format-prefix-foreground = ${colors.frostblue}
;format-underline = ${colors.foreground}
click-left = alacritty -e "paru"
click-right = alacritty -e "paru"

[module/aur-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-aur-updates.sh
interval = 1000
label = Aur: %output%
format-foreground = ${colors.frostblue}
format-background = ${colors.background}
format-prefix = "  "
format-prefix-foreground = ${colors.frostblue}
format-underline = ${colors.foreground}
click-left = alacritty -e "paru"
click-right = alacritty -e "paru"