################################
#     Application Settings     #
################################

[settings]
throttle-output = 5
throttle-output-for = 10
screenchange-reload = false
compositing-background = XOR
;compositing-foreground = over
;compositing-overline = over
;compositing-underline = over
;compositing-border = over
;format-foreground = 
;format-background = 
;format-underline =
;format-overline =
;format-spacing =
;format-padding =
;format-margin =
;format-offset =
;pseudo-transparency = false

################################
#             Global           #
################################

[global/wm]
margin-bottom = 10
margin-top = 0

#################################
#             Colors            #
#################################

[colors]
background = #00000000
border-color = #4081A1C1
foreground = #FFFFFFFF

polardarkest = #2e3440
polardark = #3b4252
polar = #434c5e
polarlight = #4c566a
snowdark = #d8dee9
snow =  #e5e9f0
snowlight = #eceff4
frostgreen = #8fbcbb
frostcyan = #88c0d0
frostblue = #81a1c1
frostlight = #5e81ac
aurorared = #bf616a
auroraorange = #d08770
aurorayellow = #ebcb8b
auroragreen = #a3be8c
aurorapurple = #b48ead

white = #FFFFFFFF
black = #FF000000
transparent = #00000000

#################################
#     Base Bar Configuration    #
#################################

[bar/barbase]
monitor = ${env:monitor}
;monitor-fallback =
monitor-strict = false
monitor-exact = true
override-redirect = false
bottom = false
fixed-center = true
width = 100%
height = 42
offset-x = 0
offset-y = 20
background = ${colors.background}
foreground = ${colors.foreground}
;background-0 = 
radius = 10.0
line-size = 0
line-color = #f00
;border-bottom-size = 0
;border-bottom-color = ${colors.border-color}
padding-left = -20px
padding-right = -20px
module-margin = 0
font-0 = "NotoSansMono Nerd Font:style=Regular:size=12;2"
font-1 = "NotoSansMono Nerd Font:style=Regular:size=24;6"
font-2 = "NotoMono Nerd Font Mono:style=Book:size=12"
font-3 = "SauceCodePro Nerd Font Mono:style=Medium,Regular:size=12"
;modules-left =
modules-center = spotify
modules-right =  date pulseaudio powermenu
module-margin-left = 0
module-margin-right = 0
;separator =
spacing = 0 ;depreciated
dim-value = 1.0
;wm-name =
locale = en_US.UTF-8
tray-position = 
tray-detached = false
tray-maxsize = 16
tray-transparent = false ; Depreciated
tray-background = #00000000
tray-offset-x = -15
tray-offset-y = 0
tray-padding = 10
tray-scale = 1.0
dpi-x = 96
dpi-y = 96
enable-ipc = true
;click-left = 
;click-middle = 
;click-right =
;scroll-up =
;scroll-down =
;double-click-left =
;double-click-middle =
;double-click-right =
;cursor-click = 
;cursor-scroll = 

#################################
#    Main Bar 1 Configuration   #
#################################

[bar/mainbar0]
inherit = bar/barbase
modules-left = launcher workspace0 layout0
tray-position = right

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/leftwm/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag
format-prefix = ""
format-prefix-background = ${colors.frostblue}
format-prefix-foreground = ${colors.polar}
format-prefix-font = 2
format-suffix = ""
format-suffix-foreground = ${colors.frostblue}
format-suffix-background = ${colors.aurorapurple}
format-suffix-font = 2
format-background = ${colors.frostblue}

[module/layout0]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${colors.polar}
format-foreground = ${colors.polar}
exec = leftwm-state -w 0 -s "{{ workspace.layout }} "
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"
format-suffix = ""
format-suffix-foreground = ${colors.aurorapurple}
format-suffix-background = ${colors.background}
format-suffix-font = 2
format-background = ${colors.aurorapurple}

#################################
#    Main Bar 2 Configuration   #
#################################

[bar/mainbar1]
inherit = bar/barbase
modules-left = launcher workspace1 layout1

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/leftwm/template.liquid
tail = true
scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag
format-prefix = ""
format-prefix-background = ${colors.frostblue}
format-prefix-foreground = ${colors.polar}
format-prefix-font = 2
format-suffix = ""
format-suffix-foreground = ${colors.frostblue}
format-suffix-background = ${colors.aurorapurple}
format-suffix-font = 2
format-background = ${colors.frostblue}

[module/layout1]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${colors.polar}
format-foreground = ${colors.polar}
exec = leftwm-state -w 1 -s "{{ workspace.layout }} "
tail = true
click-left = leftwm-command "NextLayout"
click-right = leftwm-command "PreviousLayout"
format-suffix = ""
format-suffix-foreground = ${colors.aurorapurple}
format-suffix-background = ${colors.background}
format-suffix-font = 2
format-background = ${colors.aurorapurple}

#################
#    Modules    #
#################

[module/date]
;https://github.com/jaagr/polybar/wiki/Module:-date
type = internal/date
interval = 1
date = 
date-alt =  %d %h %Y
time =  %H:%M:%S
time-alt = 
;format-underline = ${colors.foreground-alt}
format-foreground = ${colors.polarlight}
format-prefix = ""
format-prefix-background = ${colors.background}
format-prefix-foreground = ${colors.aurorayellow}
format-prefix-font = 2
format-background = ${colors.aurorayellow}
label =  " %date%%time%"

[module/pulseaudio]
type = internal/pulseaudio

format-volume = "<label-volume>"
format-volume-foreground = ${colors.polarlight}
format-volume-prefix = ""
format-volume-prefix-background = ${colors.aurorayellow}
format-volume-prefix-foreground = ${colors.auroraorange}
format-volume-prefix-font = 2
format-volume-background = ${colors.auroraorange}
label-volume = "  %percentage%%"
label-volume-foreground = ${colors.polarlight}

label-muted = "  muted"
label-muted-foreground = ${colors.polarlight}
format-muted-prefix = ""
format-muted-prefix-background = ${colors.aurorayellow}
format-muted-prefix-foreground = ${colors.auroraorange}
format-muted-prefix-font = 2
format-muted-background = ${colors.auroraorange}

click-right = pavucontrol

[module/powermenu]
type = custom/text
content = " 襤 "
content-foreground = ${colors.polarlight}
click-left = ~/.config/leftwm/themes/current/rofi/power.sh
click-right = ~/.config/leftwm/themes/current/rofi/power.sh
content-padding-left = 2
content-prefix = ""
content-prefix-background = ${colors.auroraorange}
content-prefix-foreground = ${colors.aurorared}
content-prefix-font = 2
content-background = ${colors.aurorared}
content-suffix = ""
content-suffix-background = ${colors.background}
content-suffix-foreground = ${colors.aurorared}
content-suffix-font = 2

[module/spotify]
type = custom/script
interval = 3
format-prefix = ""
format-prefix-background = ${colors.background}
format-prefix-foreground = ${colors.auroragreen}
format-prefix-font = 2
format = <label>
label = %output%
label-fail = "  Spotify is unavailable"
format-foreground = ${colors.polar}
exec = ~/.config/leftwm/themes/current/polybar/spotify.sh
tail = false
click-left = playerctl --player=spotify,spotifyd play-pause
click-middle = playerctl --player=spotify,spotifyd stop
click-right = playerctl --player=spotify,spotifyd next
format-suffix = " "
format-suffix-foreground = ${colors.auroragreen}
format-suffix-background = ${colors.background}
format-suffix-font = 2
format-background = ${colors.auroragreen}

[module/launcher]
type = custom/text
content = "  "
content-foreground = ${colors.frostgreen}
click-left = ~/.config/leftwm/themes/current/rofi/start.sh
click-right = ~/.config/leftwm/themes/current/rofi/start.sh
content-padding-left = 2
content-prefix = ""
content-prefix-background = ${colors.background}
content-prefix-foreground = ${colors.polar}
content-prefix-font = 2
content-background = ${colors.polar}